html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.fonttitle{
    text-align: center;
}

.maindiv {
    width: 100%;
    height: 100%;
    background-color: rgb(86, 130,163);
}

.chatwindow {
    position: relative;
    width: 40%;
    height: 70%;
    margin: auto;
    background-color: rgb(231, 235, 240);
    border: 1px solid black;
}

.chat {
    width: 100%;
    height: 100%;
    overflow-y: scroll;

}

.mymessages{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: 1%;
    border-radius: 5px;
    padding: 2%;
    background: white;
}

.typezone   {
    display: flex;
    margin: auto;
    width: 40%;
    height: 10%;
    border: 1px solid black
}

.mess_area{
    width: 90%;
}

.but_send{
    width: 10%;
}

.regh1 {
    text-align: center;
    font-size: 25px;
}

.formfield {
    width: 90%;
    margin-left: 4%;
    margin-bottom: 5%;
}

.regenterbut {
    width: 50%;
    margin-left: 25%;
}

.regenterdiv {
    position: relative;
    height: 100%;
    width: 100%;
    background: white;
    border: black 2px solid;
    z-index: 1;
}


.registrationdiv {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
}

.enterdiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

.tabdiv {
    position: absolute;
    display: flex;
    bottom: 99%;
    left: 1%;
    width: 50%;
}

.regentertab {
    position: relative;
    top: 100%;
    width: 50%;
    border: black 2px solid;
    border-bottom: none;
    outline: none;
    background-color: white;
}

.tabsregdiv {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 10%;
    left: 2%;
}

#regtab {
    z-index: 0;
}

#entertab {
    z-index: 2;
}