html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.logo{
    height: 80%;
    text-align: left;
    margin: auto;
    margin-top: .5%;
    margin-left: 1%;

}

.maindiv {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: rgb(86, 130,163);
}

.headerbar {
    z-index: 3;
    width: 100%;
    height: 5%;
    position: absolute;
    background-color: rgb(86, 130,163);
}

.chatwindow {
    top: 5%;
    position: relative;
    width: 60%;
    height: 95%;
    background-color: rgb(231, 235, 240);
    border: 1px solid black;
}

.chat {
    width: 100%;
    height: 88.7%;
    overflow-y: scroll;
}

.chatbar{
    display: block;
    border-bottom-style: groove;
    border-width: 1px;
    height: 5%;
    position: relative;
    background-color: #fff;
    padding: 0.73% 2% 0.73% 2%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mymessages{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: 1%;
    border-radius: 5px;
    padding: 2%;
    background: white;
}

.typezone   {
    display: flex;
    margin: auto;
    width: 100%;
    height: 5%;
    border: 1px solid black
}

.mess_area{
    outline: none;
    resize: none;
    width: 90%;
    font-size: 20px;
    
}

.but_sent {
    width: 10%;
    background-color: #fff;
    border-style: none;
}

.sendImg {
    margin: 0;
    width: 70%;
}

.regh1 {
    text-align: center;
    font-size: 25px;
}

.formfield {
    width: 90%;
    margin-left: 4%;
    margin-bottom: 5%;
}

.regenterbut {
    width: 50%;
    margin-left: 25%;
}

.regenterdiv {
    position: absolute;
    height: 100%;
    width: 100%;
    background: white;
    border: black 1px solid;
    z-index: 1;
    top: 5%;
}

.registrationdiv {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
}

.enterdiv {
    position: absolute;
    height: 100%;
    width: 100%;
}

.tabdiv {
    position: absolute;
    display: flex;
    bottom: 103.5%;
    left: 1%;
    width: 99%;
    height: 10%;
}

.regentertab {
    position: relative;
    top: 100%;
    width: 50%;
    border-bottom: none;
    outline: none;
    background-color: white;
}

.tabsregdiv {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 10%;
    left: 2%;
}

#regtab {
    z-index: 0;
}

#entertab {
    z-index: 2;
}

.dialogdiv {
    top: 5%;
    position: relative;
    overflow-y: scroll;
    width: 25%;
    float: right;
    height: 95%;
    background-color: #fff;
    border-right: 1px solid black;
}

.dialogbar{
    padding: 3%;
    background-color: #fff;
    height: 5%;
    width: 94%;
}

.friendSearch{
    border-style: groove;
    border-radius: 10px;
    padding: 0;
    position: relative;
    height: 96%;
    width: 100%;
}

.regwindow {
    top: 5%;
    margin: 1%;
    position: relative;
    width: 25%;
    height: 30%;
}

.communication {
    position: relative;
    height: 50%;
    width: 35%;
}

.contacts {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.contact {
    margin: 0;
    padding-left: 2%;
    border-style: none;
    border-bottom: solid 1px #ddd;
    width: 100%;
    height: 100%;
    background-color: #fff;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    text-align: left;
}

.contactlogo {
    display: inline-block;
    position: relative;
    height: 70%;
    width: 10%;
    border-radius: 50%;
    background-color: rgb(86, 130,163);
    color: white;
    box-sizing: content-box;
}   

.dialoginfo{
    display: inline-block;
    margin-left: 2%;
}

.nick{
    font-weight: 550;
    margin: 0;
    margin-bottom: 1%;
    display: block;
    margin-right: 2%;
}

.lastmessage{
    margin: 0;
    display: block;
    font-style: italic;
    color: grey;
}

.contactmenu {
    display: inline-block;
    position: absolute;
    color: white;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    right: 2%;
    margin-top: 2%;
}

.dots {
    width: 12px;
    height: 35px;
}


.contactoption {
    display: inline-block;
    position: absolute;
    z-index: 3;
    border: none;
    width: 70px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    right: 1%;
    margin-top: 15px;
    text-align: center;
}

.infoBut, .deleteBut {
    display: block;
    width: 100%;
    border: none;
    border-bottom: solid 1px #ddd;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.contactli {
    margin: 0;
    width: 100%;
    height: 5%;
    list-style-type: none;
}
