.chatwindow {
    top: 5%;
    position: relative;
    width: 60%;
    height: 95%;
    background-color: rgb(231, 235, 240);
}

.chatbar{
    display: block;
    border-bottom: solid 1px #ddd;
    border-width: 1px;
    height: 7%;
    min-height: 47px;
    position: relative;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat {
    width: 100%;
    height: 86.7%;
    overflow-y: scroll;
}

.mymessages{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: 1%;
    border-radius: 15px;
    padding: 2%;
    background: white;
}

.typezone   {
    display: flex;
    text-align: center;
    margin: auto;
    width: 100%;
    height: 6%;
    background-color: #fff;
    border-top: 1px solid #aaa;
}

.typezoneWrap {
    margin: auto;
    width: 90%;
}

.mess_area{
    display: inline-block;
    outline: none;
    resize: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 70%;
    font-size: 12px ;
}

.but_sent {
    height: 100%;
    width: 6%;
    background-color: #fff;
    border-style: none;
}

.sendImg {
    margin: 0;
    height: 30px;
    margin-bottom: .5%;
}