.chatwindow {
    float: left;
    margin-left: 0;
    position: relative;
    width: 70%;
    height: 100%;
    background-color: rgb(231, 235, 240);
}

.chatbar{
    display: block;
    border-bottom: solid 1px #ddd;
    border-width: 1px;
    height: 7%;
    position: static;
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.chat {
    width: 100%;
    height: 85%;
    overflow-y: scroll;
}

.mymessages{
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: 1%;
    border-radius: 15px;
    padding: 2%;
    background: white;
}

.typezone   {
    padding: 0;
    display: table;
    position: sticky;
    text-align: center;
    margin: auto;
    padding: 0 10%;
    width: 100%;
    height: 8%;
    background-color: #fff;
    border-top: 1px solid #ddd  ;
}

.typezoneWrap {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 60%;
    margin-right: 0 ;
}

.mess_area{
    position: relative;
    display: inline-block;
    outline: none;
    resize: none;
    background-color: rgb(245, 245, 245);
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
    font-size: 12px ;
}

.sendWrap {
    display: table-cell;
    vertical-align: middle;
    width: 5%;
    text-align: left;
}

.but_sent {
    top: 0;
    position: relative;
    display: inline-block;
    outline: none;
    width: 6%;
    height: 20px;
    background-color: #fff;
    border-style: none;
    border-radius: 100%;
}

.sendImg {
    margin: 0;
    height: 20px;
    margin-bottom: .5%;
}

.sendImg:hover {
    border-radius: 100%;
    background-color: rgb(86, 130,163);
}